body {font-size:18px;}

td,th {
    text-align:		center;
	padding-top:	5px;
	padding-right:  5px;
	padding-bottom: 5px;
	padding-left:   5px;
}

legend { font-size:160%;}

label  { font-size:125%; 
         display:inline-block; 
         padding-top:   4px;
         padding-bottom:4px; 
         padding-left:  5px;
         padding-right: 5px; 
       }
label:hover {background-color:pink; 
	    # border-style: solid pink;
	    }

# a {color:#57B6B4;}
# a:hover {color:orange;}

a:link,  a:visited { color:#57B6B4;  text-decoration:none;}
a:hover, a:active  { color:orange;   text-decoration:underline;}
a.header {color:white; text-decoration:underline;}
a.header:hover {color:orange;}

p.blocktext {margin-left:auto; margin-right:auto}

optgroup { font-size:20px; }

.content {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
}

.grnbk {color:white;background-color:green;}
.whtbk {color:black;background-color:white;}
.orangebk {color:white;background-color:orange;}
.green {color:green;font-weight:bold;}
.blue  {color:blue;font-weight:bold;}

.correct {color:green;}
.error   {color: #FF0000;}

.rule {font-size:16px;color:orange;background-color:white;}

h2.popup_trigger {text-decoration:underline;}
h3.popup_trigger {text-decoration:underline;}
h4.popup_trigger {text-decoration:underline;}


header {
#    position:fixed;
    top:0;
    left: 0;
    right: 0;
    background-color:#57B6B4;
    color:white;
    text-align:center;
    padding:5px;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#57B6B4;
    color:white;
    clear:both;
    text-align:center;
    padding: 5px;
 #   margin-top: 20px;
}



table.fancy_table {border-collapse: collapse; width: 100%;}
table.fancy_table th	{
    height:   45px;
    font-size:130%;
    color: white;
}
table.fancy_table td    {
    height:   32px;
    border:none;
    padding:  8px 8px 8px 8px;
}
table.fancy_table tr:nth-child(even) {
     background-color: #eee;
}
table.fancy_table tr:nth-child(odd) {
     background-color: #fff;
}

th.orange_tb  { background-color:orange; }
th.magenta_tb { background-color:magenta; }
th.pink_tb    { background-color:pink; }


table.grades { 
border-collapse: collapse; 
}
table.grades th,td {
   border: 2px solid black;
   width:75px;
}
table.grades tr:nth-child(even) {
     background-color: #eee;
}
table.grades tr:nth-child(odd) {
     background-color: #fff;
}


