{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bigdata/style.css' %}">

<html>
<head>
  <meta charset="UTF-8">
  <title>Apps by Bin Chen </title>
</head>

<body>

<header> <h2 id="header"></h2>
<h4 align="center">琅琊数学<br/> <a class="header" href="http://math.langya.cloud">math.langya.cloud</a>  </h4>
</header>

<div style="margin:0 auto; max-width:600px;">
<h4 align="center">A production website: math for kids of grade 5&6</h4>
<p align="center"> <a href="http://math.langya.cloud">math.langya.cloud</a> </p>

<p align="center">Note: the above website was originally designed for Chinese kids, so do not be surprised if you see Chinese characters. </p>

<h4 align="center">A few Sample Django Apps (hosted by AWS)</h4>
<p align="center">
<a href="http://math.langya.cloud/django/bigdata"> bigdata project of math.langya.cloud </a> <br/>
<br/>
<a href="http://math.langya.cloud/django/pubs"   > simple forum for content publishing </a>  <br/>
<br/>
<a href="http://math.langya.cloud/django/admin"  > Admin for the above two Django apps </a>
</p>


<h4 align="center">Author: Bin Chen <a href="https://www.linkedin.com/in/bin-chen-398aab77/">LinkedIn Profile </a></h4>

</div>


</body>
</html>
