{% extends "publisher/base.html" %}

{% block main %}
<h3>Topic. {{problem.headline}}</h3>
<hr/>
<p><b>Question.</b> {{problem.text}} </p>

{% for choice in problem.choice_set.all %}
	({{forloop.counter}}).&nbsp;
	{% if choice.correct %}
		<span style="background-color:green;color:white;"> {{choice.choice_text}} </span> <br/>  
	{% else %}
		{% if choice.id == user_choice_id %}
			<span style="background-color:red;color:white;"> {{choice.choice_text}} </span> &nbsp;&nbsp;&#x274C;<br/>
		{% else %}
			{{choice.choice_text}} <br/>
		{% endif %}
	{% endif %}
{% endfor %}
<hr/>
<label>Comments: </label>
{% if flag %}
	<p> Good job！</p>
{% else %}
	<p> Oops！You missed it!</p>
	{% if problem.solution %}
		<h4>Detailed explanation:</h4>
		{{problem.solution}}
	{% else %}
		<p>Sorry! The author did not provide a detailed solution！</p>
	{% endif %}
{% endif %}
<hr>
<p><label>Big Data:</label> <a href="{% url 'publisher:statistics' problem.id %}">view statistics</a></p>

<hr>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'publisher:index' %}">home</a>

{% endblock %}
