{% extends "publisher/base.html" %}

{% block main %}
<h3>Topic. {{problem.headline}}</h3>
<hr/>
<p><b>Question.</b> {{problem.text}} </p>
<hr/>
<label>Comments: </label>
{% if flag %}
	<p> Good job! </p>
{% else %}
	<p> Oops! your input "{{userinput}}" is wrong. The correct answer is "{{problem.answer}}".</p>
	{% if problem.solution %}
        <h4>Detailed explanation:</h4>
        {{problem.solution}}
    {% else %}
        <p>Sorry! The author did not provide a detailed solution！</p>
    {% endif %}
{% endif %}
<hr>
<p><label>Big Data:</label> <a href="{% url 'publisher:statistics' problem.id %}">view statistics</a></p>

<hr>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'publisher:index' %}">home</a>

{% endblock %}
