{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'publisher/style.css' %}">
	<title> {% block title %} langya forum {% endblock %}</title>
</head>
<body>
<header>
<p align="center"> Langya Forum </p>
<p align="right"> 
{%if not user.is_authenticated%}
	<a style="color:white;" href="{% url 'publisher:login' %}">login</a> | 
	<a style="color:white;" href="{% url 'publisher:signup' %}">signup</a> 
{%else%}
 User:&nbsp;&nbsp;{{user.username}}&nbsp;&nbsp;<a style="color:white;" href="{% url 'publisher:logout' %}">logout</a> 
{%endif%}
<br/>
<a style="color:white;" href="http://math.langya.cloud">langya math for kids</a> </p>
</header>

<div style="margin:0 auto; min-width:600px; max-width:900px;">
	
	{% block main %}
	{% endblock %}	
</div>
	<br/>
	<br/>
<!--
<footer id="footer">
<span style="align:center">Copyright math.langya.cloud </span> |
<span style="align:right">Contact bchencommercial@gmail.com </span>
</footer>
-->
</body>
</html>
