{% extends 'publisher/base.html' %}

{%block main %}
<h3>Create a multiple-choice problem</h3>
<form action="{% url 'publisher:create_mc_problem' %}" method="post">
	{% csrf_token %}
	<p>Part A: the problem<br/>
	(neither hint or lecture is mandatory, but please provide them when the problem is difficult)</p>
	<hr/>
	<table style="border:0px">	
	{{ formset.non_form_errors }}
	{{form}} <br/>
	{{ formset.management_form }}
	</table>
	<hr/>
	<p>Part B: the choices (do not forget to check the correct answer)</p>
	<table>
    {% for form in formset %}
		{%if forloop.first %}
		<tr> 
			{%for field in form.visible_fields %}
				<th> {{field.label|capfirst}} </th>
			{%endfor%}
		</tr>
		{%endif%}
		<tr>
        {% for field in form.visible_fields %}
			<td align="center">
				{%if forloop.first%}
					{%for hidden in form.hidden_fields %}
						{{hidden}}
					{%endfor%}
				{%endif%}
				{{ field.errors.as_ul }} {{ field }} 
			</td> 
        {% endfor %}
		</tr>
    {% endfor %}
	<tr><td colspan="2" align="center"> <input type="submit" value="Submit"></td> </tr>
	</table>
</form>
<hr>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'publisher:index' %}">home</a>

{%endblock%}

