{% extends 'publisher/base.html' %}

{%block main %}
<h3>Create a fill-in-blank problem</h3>
<form action="{% url 'publisher:create_fb_problem' %}" method="post">
	{% csrf_token %}
	<p>(neither hint or lecture is mandatory, but please provide them when the problem is difficult)</p>
	<hr/>
	<table style="border:0px">	
	{{ form }}
	<tr><td colspan="2" align="center"> <input type="submit" value="Submit"></td> </tr>
	</table>
</form>
<hr>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'publisher:index' %}">home</a>

{%endblock%}

