{% extends 'publisher/base.html' %}

{%block main %}

<form action="{% url 'publisher:create_mc_problem' %}" method="post">

	{% csrf_token %}
	<table style="border:0px">	
	{{ form }}
	<tr><td colspan="2" align="center"> <input type="submit" value="Submit"></td> </tr>
	</table>
</form>

{%endblock%}

