{% extends "publisher/base.html" %}

{% block main %}
{% if child %}
	<h3>Topic. {{ child.headline }} </h3>
	<p><b>Question.</b>  {{ child.text }} </p>
	{% if child.hint %} 
	<p>(hint: {{ child.hint }}) </p>
	{% endif %}
	{% if problem_type == "fillblank" %}	
		<form action="{% url 'publisher:fillblank' child.id %}" method="POST">
		<p>  
			<b>Answer:</b>&nbsp;&nbsp;<input type="text" name="fb-prob-id-{{child.id}}" width="200px;" height="25px;"/> {{ child.appendix }}
		</p>
	{% else  %}
		<hr>
		<form action="{% url 'publisher:multiplechoice' child.id %}" method="POST">
		{% if choices %}
			{% for choice in choices %}
				&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="mc-prob-id-{{child.id}}" id="choice-{{forloop.counter}}" value="{{choice.id}}" > 
				<label style="min-width:80px; font-size:28px;" for="choice-{{forloop.counter}}"> {{choice.choice_text}} </label> </br></br>
			{% endfor %}
		{% endif %}
	{% endif %}	
	<br/><input type="submit" name="submit" value="submit">
		{% csrf_token %}
	</form>
{% else %}
	<p>Sorry! The post you selected does not exist!</p>
{% endif %}
<hr>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'publisher:index' %}">home</a>
{% endblock %}
