{% extends 'publisher/base.html' %}

{%block main %}

<p style="font-size:22px;" align="center">
	Here are the latest posts of problems sorted by date published.<br/> 
	Click on the problem headline to solve it, then view the statistics. <br/>
	Problem Type: Multiple Choice (MC) or Filling in Blank (FB) </br>
	Problem Level: 1 to 5 (simple to Olympic) 
</p>
	<hr/>
<p style="font-size:24px;" align="center">
	(to contribute a problem, please login first)<br/>
	<a style="color:#57B6B4" href="{%url 'publisher:create_mc_problem' %}">create a multi-choice problem</a> |
	<a style="color:#57B6B4" href="{%url 'publisher:create_fb_problem' %}">create a fill-in-blank problem</a>|
	<a style="color:#57B6B4" href="{%url 'publisher:rest' %}">rest_webservice</a> 
</p>

	{%if headers %}
		<table style="font-size:20px;" align="center" style="border:0;">
		<tr><th width="50px;"></th>
			<th width="240px;" align="left">Headline</th>
			<th width="220px;" align="left">Level/Type/Subject</th>
			<th width="160px;">Post Date</th>
			<th width="60px;">👍</th>
			<th width="60px;">👎</th>
	    </tr>
		{%for header in headers %}
		<tr>
			<th>{{forloop.counter}}</th>
			<td style="font-size:22px;" align="left">
				<a style="color:#57B6B4;" href="{% url 'publisher:detail' header.0 %}">{{header.1}}</a>
			</td>
			<td align="left">{{header.4}}-{{header.2}}-{{header.3}}</td>
			<td>{{header.5|date:'y-m-d H:i'}}</td>
			<td align="center">{{header.6}}</td>
			<td align="center">{{header.7}}</td>
		</tr>
		{%endfor%}
		</table>
	{% else %}
		<p>Sorry! There are no posts avaiable</p>
	{% endif %}

{%endblock%}

