{% extends 'publisher/base.html'%}

{%block main %}

  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
	<table>
    {{ form }}
	</table>
    <button type="submit">Sign up</button>
  </form>
{%endblock%}
