{% extends 'publisher/base.html' %}

{% block main %}
	<h3>Topic. {{ problem.headline }}</h3>
	<p><b>Question.</b> {{ problem.text }}</p>
	<hr/>
	<p><b>Statistics</b></p>
	<table>
	<tr><th style="min-width:160px;">Correct</th> <th style="width:160px;">Head Count</th></tr>
	<tr><th> &#x2705; </th><td align="center">{{problem.num_correct}} </td></tr>
	<tr><th> &#x274E; </th><td align="center">{{problem.num_wrong  }} </td></tr>
	</table>
	<hr/>
	{% if problem.prob_type == "选择" %}
	<p><b>Details</b></p>
		<table>
		<tr><th style="min-width:160px;">Choice</th> <th style="width:160px;">Head Count</th></tr>
		{% for choice in problem.choice_set.all %}
			<tr><th>({{forloop.counter}}).&nbsp; {{choice.choice_text}}</th><th>{{choice.votes}}</th></tr>
		{% endfor %}
		</table>
	{% endif %}
	<hr/>
	<h3>Your Opinion?</h3>
	<form action="{% url 'publisher:vote' problem.id %}" method="post">
		{% csrf_token %}
		<input type="radio" name="vote" id="vote-pos" value="pos"><label for="vote-pos">Like</label> &nbsp;&nbsp;	
		<input type="radio" name="vote" id="vote-neg" value="neg"><label for="vote-neg">Dislike</label> 	
		<br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="submit" name="submit" value="vote!">
	</form>
	<hr>
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'publisher:index' %}">home</a>
{% endblock %}
