@media screen and (orientation:portrait) {
	body  {font-size:24px;}
	table  {font-size:150%;}
	select {font-size:110%;}
	input  {font-size:140%;}
	input[type=text]     {height:150%;font-size:140%;}
	input[type=checkbox] {font-size:32px;}
	a	{font-size:200%;}
}

body {
font-size:20px;
}

input[type=submit] {
	font-size:24px;
	padding: 6px;
	background-color:#57B6B4;
	border-radius: 12px;}
input[type=submit]:hover {background-color:orange;}
input[type=text]   {font-size:20px;}

label:hover {background-color:orange;}

a {color:#57B6B4;}
a:hover {color:orange;} 

a.header {color:white; text-decoration:underline;}
p.blocktext {margin-left:auto; margin-right:auto}

header {
#    position:fixed;
    top:0;
    left: 0;
    right: 0;
    background-color:#57B6B4;
    color:white;
    text-align:center;
    padding:5px;
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#57B6B4;
    color:white;
    clear:both;
    text-align:center;
    padding: 5px;
    margin-top: 20px;
}



