{% load static %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'bigdata/style.css' %}">

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> Grades </title>
</head>

<body>

<header> <h2 id="header"></h2>
<h4 align="center">琅琊数学<br/> <a class="header" href="http://math.langya.cloud">math.langya.cloud</a>  </h4>
</header>


<h3> Statistics from math.langya.cloud database </h3>

<p>The following 4 tables show the student's data for 4 semesters:
Spring, Fall semester of the grade 5 and 6 respectively.</p>

{% if bigdata %}
{% for term in bigdata %}
<hr>
<h4> {{ term.name }}学期成绩表 </h4>
<table class="grades">
<tr>
<th colspan='6'>{{ term.name }}学期 {% if usertag %} ({{usertag}}) {% endif %} </th>
</tr>
<tr>
<th style="min-width:150px;">chapter</th>
<th>problems</th>
<th>finished</th>
<th>unfinished</th>
<th>percentage</th>
<th>score &#x1F6A9;</th>
</tr>
	{% for chap_score in term.chap_scores %}
		<tr>
		{% for entry in chap_score %}
			{% if forloop.counter != 5 %}
				<td> {{entry}}  </td>
			{% else %}
				<td> {{entry}}% </td>	
			{% endif %}
		{% endfor %}
		</tr>
    {% endfor %}
</table>
<br/>
{% endfor %}
{% else %}
	<p class="error">您提供的用户不存在！</p>
{% endif %}

