{% load static %}
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{% static 'bigdata/style.css' %}">

<html>
<head>
  <meta charset="UTF-8">
  <title> langya statistics </title>
</head>

<body>

<header> <h2 id="header"></h2>
<h4 align="center">琅琊数学<br/> math.langya.cloud  </h4>
</header>

<h3>langya math user bigdata </h3>

<p>
This small Django project extracts user data from <a href="http://math.langya.cloud">langya math</a> <br/>
(click login name to check detail)
</p>

{% if user_list %}
<table class="grades">
  <tr>
	<th>index</th>
	<th style="width:150px;">login name</th>
	<th style="width:120px;">real name</th>
	<th>state</th>
	<th>city</th>
	<th style="width:150px;">school</th>
	<th style="width:150px;">account_date</th>
  </tr>
	{% for user in user_list %}
  <tr>
	<td> {{ forloop.counter }} </td>
	<td> <a href="{% url 'bigdata:detail' user.user_id %}"> {{ user.username }} </a> </td>
	<td> {{ user.lastname }}{{ user.firstname}}</td>
	<td> {{ user.state  }} </td> 
	<td> {{ user.city   }}  </td>
	<td> {{ user.school }} </td>
	<td> {{ user.acct_date|date:"Y/m/d" }} </td>
  </tr>
	{% endfor %}
</table>
{% else %}
	<p>No user data available. </p>
{% endif %}
</body>
</html>
